/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.idea/.name
.idea/clojure_project.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/Administrator.xml
.idea/encodings.xml
.idea/libraries/Leiningen__clojure_complete_0_2_3.xml
.idea/libraries/Leiningen__org_clojure_clojure_1_6_0.xml
.idea/libraries/Leiningen__org_clojure_math_combinatorics_0_0_7.xml
.idea/libraries/Leiningen__org_clojure_test_check_0_5_8.xml
.idea/libraries/Leiningen__org_clojure_tools_nrepl_0_2_3.xml
.idea/libraries/Leiningen__org_clojure_tools_trace_0_7_8.xml
.idea/misc.xml
.idea/modules.xml
.idea/replstate.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
solver.iml
.idea/libraries/Leiningen__org_bouncycastle_bcprov_jdk15on_1_50.xml
.idea/libraries/Leiningen__org_clojure_data_codec_0_1_0.xml
.idea/libraries/Leiningen__pandect_0_3_3.xml
.idea/uiDesigner.xml
